# 資料集目錄
path: D:/Sandy/VisDrone/datasets
train: VisDrone2019-DET-train/images
val: VisDrone2019-DET-val/images

# 類別數量
nc: 10

# 類別名稱
names:
  - pedestrian
  - people
  - bicycle
  - car
  - van
  - truck
  - tricycle
  - awning-tricycle
  - bus
  - motor
